@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu NavItems="@navItems"/>
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    string[] navItems = new string[5] { "Home", "About", "Blogs", "Resume", "Projects" };
}

