<nav>
    <div class="logo">
        <h4>The Nav</h4>
    </div>
    <ul class="nav-links @NavMenuToggle">

        @for (int i = 0; i < NavItems.Count(); i++)
        {
            var menu = NavItems[i];
            <li style="@GetAnimation(i)">
                
                @if (i == 0)
                {
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        @menu
                    </NavLink>
                }
                else
                {
                    <NavLink class="nav-link" href="@menu">
                        @menu
                    </NavLink>
                }
            </li>
        }

    </ul>
    <div class="burger @BurgerToggle" @onclick="ToggleNavMenu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>

@code
{
    [Parameter] public string[] NavItems { get; set; }
    bool toggleNav = false;
    string NavMenuToggle => toggleNav ? "nav-active" : null;
    string BurgerToggle = "";
    void ToggleNavMenu()
    {
        toggleNav = !toggleNav;
        if(toggleNav)
        {
            BurgerToggle = "toggle";
        }
        else
        {
            BurgerToggle = "";
        }
    }

    string GetAnimation(int index)
    {
        var time = ((index / 7.0) + .6) + "s";
        if (toggleNav)
        {
            return $"animation:navLinkFade 0.5s ease forwards {time}";
        }
        else
            return "";
    }

}
